DB_HOST=localhost
DB_PORT=5432
DB_NAME=restaurant_etl
DB_USER=postgres
DB_PASSWORD=your_postgres_password

AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=restaurant-etl-nethmi-2026